.container {
  margin: 0 5%;
}

/* navbar */
.navbar {
  padding: 20px 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background-color: #5264AE;
  border-radius: 4px;
}

.logo,
.nav {
  display: inline-block;
  margin: 0;
}

/* nav links */
.nav {
  display:flex;
  flex-direction:row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav li {
  margin-left: 10px;
  cursor: pointer;
}

.navbar a {
  color: #FFF;
  text-decoration: none;
}

.navbar span {
  color: #CFD8DC;
  text-decoration: none;
  font-size: 1.2em;
}


.navbar a:hover {
  color: #DDD;
}

/* if you want pull right nav links */
.nav-right {
  float: right;
  line-height: 39px;
}



/* responsive */
@media screen and (max-width: 677px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 92%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    //width: 1170px;
    width: 92%;
  }
}

