<form
  class="card"
  [formGroup]="form">
<!--  (ngSubmit)="onSubmit()">-->
  <div class="card-header">
    <span class="card-title">Login to site</span>
  </div>
   <div class="card-content">


    <div class="input-field">
      <input formControlName="name" id="name" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="name">Name: </label>
      <span *ngIf="form.get('name').invalid && form.get('name').touched" class="helper-text red-text">
        <span *ngIf="form.get('name').errors['required']"> empty Name</span>
        <span *ngIf="form.get('name').errors['minlength'] && form.get('name').errors['minlength']['requiredLength']">
          the Name must be minimum {{form.get('name').errors['minlength']['requiredLength']}} symbols
          You have only {{form.get('name').errors['minlength']['actualLength']}} symbols
        </span>
      </span>
    </div>

    <div class="input-field">
      <input id="password" type="password" formControlName="password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="password">Password: </label>
      <span *ngIf="form.get('password').invalid&&form.get('password').touched" class="helper-text red-text">
        <span *ngIf="form.get('password').errors['required']"> empty Password</span>
        <span
          *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          the Pass must be minimum {{form.get('password').errors['minlength']['requiredLength']}} symbols
          You have only {{form.get('password').errors['minlength']['actualLength']}} symbols
        </span>
      </span>
    </div>
  </div>

  <div class="card-action">
<!--    type="submit"-->
    <button [disabled]="form.invalid"  class="modal-action btn" (click)="onSubmit()"><span>Login</span></button>
    <button [disabled]="form.invalid" class="modal-action btn" (click)="onRegister()"><span>Register</span></button>
  </div>
</form>
