<!--<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">-->
<!--<nav class="navbar navbar-expand navbar-dark bg-dark">-->
<!--  <div class="navbar-nav">-->
<!--    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>-->
<!--    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>-->
<!--    <a class="nav-item nav-link" >Logout</a>-->
<!--  </div>-->
<!--</nav>-->

<router-outlet>
<!--&lt;!&ndash;<div class="app-container" [ngClass]="{ 'bg-light': user }">&ndash;&gt;-->
<!--<div class="app-container">-->
<!--  <app-alert></app-alert>-->
<!--&lt;!&ndash;  <app-login-login></app-login-login>&ndash;&gt;-->
<!--</div>-->
</router-outlet>
