
.main-content{
  height: 600px;
  margin: 2px 2px 0 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.col-left{
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 1px;
}

.col-right{
  width: 100%;
  height: 100%;
  margin-left: 1px;
  border: 1px solid gray;
  border-radius: 4px;
}
