
<div class="editor-container">

  <div class="risk-properties">
    <input type="text" class="risk-name" [disabled]="!manageRisk" [(ngModel)] = "changedRisk.nameRisk" />
    <span>Description</span>
    <textarea type="text" class="risk-description" rows="5" cols="50" [(ngModel)] = "changedRisk.description"></textarea>
  </div>

  <div class="parametres">
    <div class="parametres-name">
      <div class="col-header"></div>
      <div class="line">Probability</div>
      <div class="errors"></div>
      <div class="line">Impact Time</div>
      <div class="errors"></div>
    </div>
    <div class="parametres-min">
      <div class="col-header">Min</div>
      <div class="line"><input type="number" class="risk-min-probability"></div>
      <div class="errors"></div>
      <div class="line"><input type="number" class="risk-min-impact"></div>
      <div class="errors"></div>
    </div>
    <div class="parametres-likely">
      <div class="col-header">Likely</div>
      <div class="line"><input type="number" class="risk-likely-probability"  [(ngModel)] = "changedRisk.probability"></div>
      <div class="errors"></div>
      <div class="line"><input type="number" class="risk-likely-impact" [(ngModel)] = "changedRisk.impactTime"></div>
      <div class="errors"></div>
    </div>
    <div class="parametres-max">
      <div class="col-header">Max</div>
      <div class="line"><input type="number" class="risk-max-probability"></div>
      <div class="errors"></div>
      <div class="line"><input type="number" class="risk-max-impact"></div>
      <div class="errors"></div>
    </div>
  </div>

  <div class="footer-buttons">

  </div>

  <div class="edit-risk-action">
    <button  class="modal-action btn left" (click)="onApply()"><span>Apply</span></button>
    <button  class="modal-action btn right" (click)="onRemove()" *ngIf="manageRisk"><span>Remove</span></button>
    <button  class="modal-action btn right" (click)="onReset()"><span>Reset</span></button>
  </div>
</div>
