<div class="card">
  <div class="card-content">
    <span class="card-title">Registration Form </span>
    <div class="input-field">
      <input id="name" type="text" required>
      <label for="name">Name: </label>
    </div>
    <div class="input-field">
      <input id="password" type="password" required>
      <label for="password">Password: </label>
    </div>
  </div>

  <div class="card-action">
    <button class="modal-action btn">Register</button>
    <button class="modal-action btn">Cancel</button>
  </div>
</div>
